<p>
  <strong>Complaint:</strong>
  <%= @fishbone_analysis.complaint_id %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @fishbone_analysis.effect %>
</p>

<%= link_to 'Edit', edit_complaint_fishbone_analysis_path(@complaint, @fishbone_analysis) %> |
<%= link_to 'Back', complaint_path(@complaint) %>
