<h1><%= t('.title_html', cause: @amef_component.fishbone_cause.cause) %></h1>

<%= render 'form', amef_component: @amef_component, action_plan: @action_plan %>

<%= link_to t(:back), fishbone_analysis_amef_analysis_path(@amef_component.amef_analysis.fishbone_analysis, @amef_component.amef_analysis), class: 'btn btn-default' %>
