@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome";
@import "/*";

.margin-bottom {
  margin-bottom: 15px;
}

.margin-left {
  margin-left: 5px;
}

.side-padding {
  padding: 0 15px 0;
}

.no-padding {
  padding: 0;
}
