.pagination {
  margin: 20px 0px;
  display: inline-block;
  padding-left: 0;

  > a,
  > span,
  > em {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #428BCA;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
  }

  .previous_page {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  .next_page {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  > a {
    &:hover,
    &:focus {
      z-index: 2;
      color: #428BCA;
      background-color: #eee;
      border-color: #ddd;
    }
  }

  > em {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: #fff;
      background-color: #428BCA;
      border-color: #428BCA;
      cursor: default;
    }
  }

  .disabled {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
  }
}
