<%= form_with url: products_path, method: :get, local: true do |form| %>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= form.text_field :value, value: params[:value], placeholder: t(:filter_by), class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <%= form.select :filter, Product::AVAILABLE_FILTERS.map { |filter| [Product.humanize_filter(filter), filter] }, { selected: params[:filter] || Product::AVAILABLE_FILTERS.first }, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-1">
      <%= form.submit class: 'btn btn-default', value: t(:search) %>
    </div>
  </div>
<% end %>
